{% load static %}
{% block body %}
{% include 'recruiter_navigation.html' %}

<style>
  tr {
    text-align: center;
  }
</style>

<marquee style="font-family: 'Monotype Corsiva'; font-size: 25px; color: darkcyan; font-weight: bold; background-color: black;">
  Manage Job Details
</marquee>
<hr>

<div class="container">

  <form method="get">
    <input type="text" name="search_term" placeholder="Search Jobs">
    <button type="submit">Search</button>
  </form>

  <table class="table table-hover">
    <thead>
      <tr style="background-color: #000080; color: white;">
        <th>S.No</th>
        <th>Job Title</th>
        <th>Creation Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for i in job %}
<tr class="highlight-row" style="background-color: white">
    <td>{{ forloop.counter }}</td>
    <td>{{ i.title }}</td>
    <td>{{ i.creationdate }}</td>
    <td>
         <a href="{% url 'edit_jobdetail' i.id %}" class="btn btn-success btn-sm">Edit</a>
        |
        <a href="{% url 'change_status' i.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are You Sure?')">Delete</a>


    </td>
</tr>

      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
